<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">Your Package</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link {{menuActive[0]}}" (click)="onSetActive(0)">Home</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="/list" class="nav-link {{menuActive[1]}}" (click)="onSetActive(1)">List of package</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="/about" class="nav-link {{menuActive[2]}}" (click)="onSetActive(2)">About</a>
                      </li>
                </ul>
            </div>
      </div>
    </nav>
     
</header>
