main{
    padding: 1rem;
    background-color: #ecf0f3;
}

.loup-animation{
    animation-name: color;
    animation-timing-function: steps(500);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0%, 100%{
        color: rebeccapurple;
        transform: translate(0%);
        zoom: 1;
        opacity: 0%;
    }
    50%{
        color: #17c3ee;
        transform: translate(90%);
        zoom: 2;
        opacity: 100%;
    }
}