<main>
    <div>
        <div class="row align-items-md-stretch">
            <div class="col-md-12">
                <div class="h-100 p-5 text-dark bg-light border rounded-3">
                    <h2 class="text-primary">About us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et harum qui amet! Quas odio nesciunt,
                        quibusdam, cumque blanditiis tenetur saepe, quos earum dolor repellendus et natus! Atque rem
                        ipsum eius.</p>
                </div>
            </div>
        </div>
        <div class="row p-3 justify-content-around">
            <h3>Team work</h3>
            <div class="col-md-3 card p-2 m-3">
                <img class="card-img-top rounded-3" src="assets/img/epale.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">EPALE Honoré Serge Yvan</h4>
                    <p class="card-text">ISI - INGE 4</p>
                </div>
            </div>
            <div class="col-md-3 card p-2 m-3">
                <img class="card-img-top rounded-3" src="assets/img/medhi.jpg" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">TOMBI SOULEMANOU Medhi</h4>
                    <p class="card-text">ISI - INGE 4</p>
                </div>
            </div>
            <div class="col-md-3 card p-2 m-3">
                <img class="card-img-top rounded-3" src="assets/img/wess.jpeg" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">TOMTA Anaël Wess Morgann</h4>
                    <p class="card-text">ISI - INGE 4</p>
                </div>
            </div>
        </div>
    </div>
</main>
